<div id="sidebar">

    <div class="alert" ng-repeat="paste in $ctrl.pastes"
          ng-class="paste.response == 'success'?'alert-info':'alert-danger'">
        <a href="{{ paste.url }}" ng-if="paste.response == 'success'">{{ paste.url }}</a>
        <span ng-if="paste.response == 'error'">{{ paste.message }}</span>
    </div>

</div>

<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="kitty in $ctrl.kitties">
        <div class="thumbnail">
            <img ng-src="{{ kitty.path }}">
            <div class="caption">
                <h3>{{ kitty.path.replace('images/', '') }}</h3>
                <p><a class="btn btn-primary" role="button" ng-click="$ctrl.uploadKittyInfo(kitty.path)">Send to
                    Pastebin</a></p>
            </div>
        </div>
    </div>
</div>
